<div class="flex flex-col h-full justify-between">
  <!-- Top Items -->
  <div class="space-y-2">
    <!-- Desktop Title (Hidden on mobile since top header handles it) -->
    <div class="hidden md:flex items-center cursor-pointer mb-8 hover:bg-gray-100 p-2 rounded-md font-medium">
      <span>Ricky Boy De Gracia</span>
    </div>

    @for (item of sideBarItems; track $index) {
      <div 
        class="flex items-center gap-3 cursor-pointer hover:bg-gray-100 p-2.5 rounded-md text-gray-700 hover:text-black">
        <img [src]="item.icon" class="w-5 h-5" [alt]="item.name"/>
        <span class="text-base">{{ item.name }}</span>
      </div>
    }
  </div>

  <!-- Bottom Theme Toggle -->
  <div class="absolute bottom-5 border border-gray-300 p-2 rounded-full flex gap-4 items-center justify-center w-fit mt-6">
    <img src="dark-mode.png" class="w-4 h-4 cursor-pointer" alt="Dark mode">
    <img src="light-mode.png" class="w-4 h-4 cursor-pointer" alt="Light mode">
  </div>
</div>